<fieldset>
    <legend>Sort By</legend>
    <!--The value attribute specifies the value to be sent to a server when a form is submitted
        If the value attribute is not specified, the content will be passed as a value instead.

        Note: the server sends back the parameters selected for the filter and it's the repopulated into the filter again
    -->
    <div>
        <span> Genres</span>
        <input type="checkbox" name="action" <%if(action){%>checked<%}%> > 
        <label for="action">Action</label>
        
        <input type="checkbox" name="rpg" <%if(rpg){%>checked<%}%>>
        <label for="rpg">RPG</label>
        
        <input type="checkbox" name="shooter" <%if(shooter){%>checked<%}%>>
        <label for="shooter">Shooter</label>
        
        <input type="checkbox" name="battleroyale" <%if(battleroyale){%>checked<%}%>>
        <label for="battleroyale">Battle Royale</label>
    </div>
    

    <div>
        <label> Sort </label>
        <select name = "sort" class="selection">
            <option label="Ascending" value="asc" <%if(sort === "asc"){%>selected<%}%>></option>
            <option label ="Descending" value= "desc"<%if(sort === "desc"){%>selected<%}%>></option>
        </select>
    
        <select name = "sortby" class = "selection">
            <option label="Name" value="name" <%if(sortby === "name"){%>selected<%}%>></option>
            <option label="Release Date" value="release_Date" <%if(sortby === "release_Date"){%>selected<%}%>></option>
            <option label ="Rating" value= "rating"<%if(sortby === "rating"){%>selected<%}%>></option>
        </select>
    </div>
    
</fieldset>






<!-- want to send a post request once we click search-->