<footer>
    <ul class="footer-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/platform/pc">PC</a></li>
        <li><a href="/platform/xbox">Xbox</a></li>
        <li><a href="/platform/ps">PS</a></li>
    </ul>

    <ul class="footer-social">
        <li>
            <a class="social-link" href="">
                <i class="fab fa-facebook"></i>
            </a>
        </li>
        <li>
            <a class="social-link" href="">
                <i class="fab fa-youtube"></i>
            </a>
        </li>
        <li>
            <a class="social-link" href="">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
    </ul>
    
    <div class="credit">
        <div><em> Data and images by <a class="credit_link" href="https://rawg.io/apidocs" target="_blank">RAWG</a></em> </div>
     </div>
</footer>