<footer>
    <ul class="footer-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">PC</a></li>
        <li><a href="#">Xbox</a></li>
        <li><a href="#">PS</a></li>
    </ul>

    <ul class="footer-social">
        <li>
            <a class="social-link" href="">
                <img class="social-icon" src="/img/Facebook-logo.png" alt="fbLogo">
            </a>
        </li>
        <li>
            <a class="social-link" href="">
                <img class="social-icon" src="/img/YT-logo.png" alt="YTlogo">
            </a>
        </li>
        <li>
            <a class="social-link" href="">
                <img class="social-icon" src="/img/Twitter-logo.png" alt="Twitterlogo">
            </a>
        </li>
    </ul>
    
    <div class="credit">
        <em> Data and images by <a class="credit_link" href="https://rawg.io/apidocs" target="_blank">RAWG</a></em> 
     </div>
</footer>