<header>
    <h1 class="logo"> <a href ="/">Game Domain</a></h1>
    <nav>
        <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/pc">PC</a></li>
                <li><a href="/xbox">Xbox</a></li>
                <li><a href="/ps">PS</a></li>
        </ul>
    </nav> 
</header>