<header class="main-header">
    <h1 class="logo"> <a href ="/">Game Domain</a></h1>
    <nav>
        <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/platform/pc">PC</a></li>
                <li><a href="/platform/xbox">Xbox</a></li>
                <li><a href="/platform/ps">PS</a></li>
        </ul>
        <!-- Security: Learn how to prevent sql injection-->
        <!--Searched Game(s)
            This is too early, need to have detailed info on each game first.
        -->
        <form action="/search" method="GET" class="search-container">
            <input type="text" name="name" placeholder="Search for games.." id="searchInput" autocomplete="off">
            <button type="submit" class="search-btn" aria-label="Search"><i class="fa fa-search"></i></button>
        </form>
    </nav> 
</header>