<header class="main-header">
    <h1 class="logo"> <a href ="/">Game Domain</a></h1>
    <nav>
        <ul class="nav-content">
            <li><a class="nav-bar" href="/">Home</a></li>
            <li><a class="nav-bar" href="/platform/pc">PC</a></li>
            <li><a class="nav-bar" href="/platform/xbox">Xbox</a></li>
            <li><a class="nav-bar" href="/platform/ps">PS</a></li>
        </ul>

        <div class="open_nav">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <!-- Security: Learn how to prevent sql injection-->
        <!--Searched Game(s)
            This is too early, need to have detailed info on each game first.
        -->
        <div class="search-container">
            <form action="/search" method="GET" class="search-form">
                <input type="text" name="name" placeholder="Search" id="searchInput" autocomplete="off">
                <button type="submit" class="search-btn" aria-label="Search"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </nav> 
</header>
<script src="/js/heading.js" defer></script>