* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.carousel {
  max-width: 90vw;
  margin: 0 auto;
  position: relative;
}

.carousel__track-container {
  height: 100%;
  margin: auto;
  overflow: hidden;
}

.carousel__track {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
  height: 200px;
  transition: all 0.5s ease-in-out;
}

.carousel__slide {
  margin-right:2em;
  cursor: pointer;
}

.carousel__image {
  width: 260px;
  height: 180px;
  object-fit: cover;
  cursor: pointer;
}

/*Move the navigation buttons*/
.game-list-heading-container{
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-bottom: 1em;
}


.arrow{
  font-size: 1.3em;
  padding: 0.6em;
  cursor: pointer;
}

.arrow:hover{
  background-color:white;
  color: black;
  border-radius: 50%;
}
