@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main_container{
  display: grid;
  grid-template-columns: auto;
  background-color: rgb(202, 202, 202);
  text-align: left;
}

.hero-container{
  padding: 0;
}

#hero-main{
  background-image: linear-gradient(rgba(22, 100, 124, 0.5), rgba(0, 0, 0, 0.5)), url("https://media.rawg.io/media/games/1f4/1f47a270b8f241e4676b14d39ec620f7.jpg");
  background-size: cover;
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: white;
  overflow: hidden;
}

.hero-content{
  display:flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  padding: 0 1em;
  width: 100%;
}

.hero-title{
  font-size: 1.3rem;
  font-weight: bold;
  padding-bottom: 0.5em;
  font-family:var(--ff-title)
}

.hero-description{
  font-size: 1rem;
  font-family: var(--ff-serif);
  line-height:1.5;
  font-weight:300;
  width: 100%;
  padding-right: 2em;
}

.hero-description > *{
  display: inline;
}

.hero-more{
  text-decoration: none;
  color: #2ec5f3;
}

.hero-platforms{
  font-size: 1.5em;
}

.hero-more:hover{
  text-decoration: underline;
}


.genres-list{
  list-style: disc;
}

.genres-list li,
#selection-menu ul li{
  display: inline-block;
  padding: 0.5em 0.5em 0.5em 0;
}

.sub-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8em;
}

.hero-rating{
  padding-right: 1.2em;
  font-family: 'Wallpoet', cursive;
  font-size: 2em;
}

.play-btn{
  width: fit-content;
  cursor: pointer;
  border: 3px solid rgba(0, 225, 255, 0.575);
  border-radius: 30px;
  padding: 5px 10px;
  text-align: center;
  font-family: var(--ff-serif);
  user-select: none; /*prevent users from selecting the text*/
}

.play-btn:hover{
  background-color:rgba(41, 86, 248, 0.753);
  border: 3px solid rgba(255, 255, 255, 0.808);

}

.play-btn:active {
  background-color: rgb(31, 80, 255);;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#selection-menu{
  background-color: #333;
  padding: 0 1em;
  position: sticky;
  top: 0;
  left: 0;
}

#selection-menu a{
  text-decoration: none;
  color: white;
  padding: 0.8em;
}

#selection-menu ul{
  padding: 0.8em;
}

#selection-menu ul a:hover{
  border-bottom: 2px solid greenyellow;
}



.container{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
  margin-top: 1em;
  padding: 1em;
}

#details-container, #reviews{
  padding: 1em;
}

#details-container> div{
  padding-bottom: 2em;
}

#about, #details, #screenshots-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#details > div{
  margin-bottom: 1em;
}

.info{
  display: flex;
  flex-direction: column;
}

.info > div{
  padding: 1em;
}


.developers, 
.publishers,
.stores{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
/*put a comma after each genre
The element1~element2 selector matches occurrences of element2 that are preceded by element1
*/
.developer~.developer::before,
.publisher~.publisher::before,
.store~.store::before{
    content: ", ";
}

.game-links-container a{
  text-decoration: none;
}





.reviews-content{
  background-color: khaki;
  margin-top: 1em;
  width: 100%;
  height: 3em;
}



@media screen and (min-width: 750px){
  #hero-main{
    height: 80vh;
  }
  .hero-content{
    bottom: 5%;
  }

  .hero-decription{
    width: 50%;
  }

  .hero-genres{
    padding: 0.8em 0.8em 0.8em 0;
  }

  .sub-container{
    margin: 0;
  }

  #selection-menu ul{
    width: 80vw; 
    margin: 0 auto;
  }

  #details-container, #reviews{
    width: 80vw;
    margin: 2em auto;
    padding: 1em;
  }

  /*figure out why justify content is not working here*/
  .info{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
  }

}