* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.carousel {
  max-width: 90vw;
  margin: 0 auto;
  position: relative;
}

.carousel__track-container {
  height: 100%;
  margin: auto;
  overflow: hidden;
}

.carousel__track {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
  height: 200px;
  transition: transform 500ms ease-in-out;
}

.carousel__slide {
  padding: 1em 1em 1em 0;
}

.carousel__image {
  width: 260px;
  height: 180px;
  object-fit: cover;
  cursor: pointer;
}

/*Move the navigation buttons*/
.carousel__button {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.473);
  cursor: pointer;
  color: white;
  border-radius: 50%;
  padding: 0.8em 1em;
  border: none;
  z-index: 20;
}
.carousel__button:hover {
  background-color: rgba(0, 0, 0, 0.836);
}

.carousel__button--prev {
  left: -1.2em;
  top: 50%;
  transform: translateY(-50%);
}

.carousel__button--next {
  right: -1.2em;
  top: 50%;
  transform: translateY(-50%);
}
