.filter-container{
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 1em;
}

.filter-title{
  padding: 0 0.5em;
}

.selection,
.filter_btn{
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  margin-left: 0.3em;
  cursor: pointer;
}


.selection:focus{
  border-radius: 5px 5px 0 0;
}

.dropdown{
    width: 200px;
    margin: 10px 0;
    text-align: left;
    position: relative; /* need it for the drop down content, to be positioned relative to the container*/
    font-size: 1rem;
  }


  
  .dropdown-name{
    display:flex;
    cursor: pointer;
    border-radius: 5px;
    padding-left: 5px;
    background-color: black;
    color: white;
    justify-content: space-between;
  }
  
  /*change the bottom side of the border radius to boxed
  .dropdown:focus .dropdown-name{
    border-radius: 5px 5px 0 0;
  }
  */
  
  .dropdown-content{
    background-color: black;
    color: white;
    padding: 5px;
    display: none;
    border-radius: 0 0 5px 5px;
    position:absolute;/* positioned relative to dropdown contianer*/
    z-index: 1;
    width:100%;
  }
  
  /*
  .dropdown:hover .dropdown-content{
    display:block;
  }
  */
  
  .labels{
    width: 100%;
  }
  
  .labels:hover{
    background-color: rgb(40, 110, 240);
  }
  
  .fa{
    padding: 0 10px 0 0;
    margin: 0;
  }
  
  input[type=checkbox] +label {
    margin-right: 20px;
    display: block;
  }
  
  /*hide the default checkboxes*/
  input[type=checkbox] {
    position: absolute; 
    height: 0;
    width: 0;
    opacity: 0;
  }
  
  /*add the radio button in front of the checkbox labels*/
  input[type=checkbox] + label::before {
    content: "\00a0";   /* Non-breaking space */
    display: inline-block; 
    width: 16px;
    height: 16px;  
    text-align: center;
    line-height: 1em;
    font-size: 0.8em; 
    margin-right: 10px;
    border: 0.125em solid white;   /* to push focus shadow away */
    background-color: #aaa;
  }
  
  input[type=checkbox]:checked + label::before {
    content: "\2713";  /* Checkmark */
    color: white;
    background: green;      
  }
  
  input[type=checkbox]:focus + label::before {
    box-shadow: 0 0 0 1px gray;
  }
  
  