@import 'style.css';

header{
    padding: 0.5em 0 1em;
}

.main-header{
    background-color: black;
    padding-bottom: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em;
    align-items: center;
    position:relative;
    color: white;
}

.logo.second{
    display:none;
}

.logo a{
    color: var(--clr-primary);
    font-size: 2.5rem;
    padding: 0;
    font-weight: bold;
}

.open_nav{
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 1.75em;
    color: white;
    z-index: 10;
}

.open_nav:hover, .open_nav:focus{
    color: var(--clr-primary)
}

.profile-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 200px;
}

.profile-text-container{
    margin: 0 1em;
    cursor: pointer;
}

.profile-picture{
    width:33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.nav-content{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 0;
    position: absolute;
    z-index: 5;
    height: 100vh;
    top: 0;
    left: 0;
    overflow:auto;
    transition: 0.5s;
    padding-top: 2em; 
    background-color: black;
}

.nav-list{
    list-style: none;
    display: flex;
}

.bar1, .bar2, .bar3{
    width: 35px;
    height: 5px;
    background: rgb(255, 255, 255);
    margin: 6px 0;
    transition: 0.4s;
}
/*rotate first bar*/
.change .bar1{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/*fade out the second bar*/
.change .bar2{
    opacity: 0;
}

/* rotate last bar*/
.change .bar3{
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.nav-content.open{
    width: 100%;
    position:fixed;
    justify-content: center;
}

.open_nav.open{
    position:fixed;
}

nav li{
    width: 100%;
}

nav a {
    display: inline-block;
    padding: 0.5em;
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

.nav-bar:hover,
.nav-bar:focus{
    color: white;
    background-color: var(--clr-primary);
}

/* Night mode */
.toggle{
    min-width: 3em;
    height: 1.3em;
    background-color: white;
    border-radius: 2em;
    display:flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.toggle-icon{
    color: goldenrod
}

.toggle-ball{
    width: 1.1em;
    height: 1.1em;
    background-color: black;
    position:absolute;
    right: 2px;
    border-radius: 50%;
    transition: all 0.5s ease;
    cursor: pointer;
}

.toggle.active{
    background-color: white;
}

.toggle-ball.active{
    background-color: black;
    transform:translateX(-1.5em);
}

/*Dropdown selector*/




.search-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-top: 1em;
}

#searchInput{
    font-size: 1rem;
    padding: 12px 20px 12px 40px;
    border: none;
    border-radius: 50px 0 0 50px;
    width: 40%;
    transition: width 0.4s ease-in-out;
}

#searchInput:focus {
    width: 60%;
}

.search-btn{
    cursor: pointer;
    border: none;
    font-size: 1rem;
    padding: 12px 18px;
    margin-left: 0;
    border-radius: 0 50px 50px 0;
}


.search-btn:hover,
.search-btn:focus{
    color: white;
    background-color: var(--clr-primary);
}

@media screen and (min-width: 1200px){

    nav{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        max-width: 85vw;
        margin: 0 auto;
    }
    .logo.first{
        display:none;
    }

    .logo.second{
        display:block;
    }

    .search-container{
        width: 50%;
    }

    .search-form{
        padding: 0em;
    }
    
    .filter-container{
        width: 70%;
    }

    .nav-content{
        flex-direction: row;
        height: auto;
        width:90%;
        justify-content: space-between;
        position: static;
        padding-top: 0px;
        box-shadow: none;
        align-items: center;
    }

    .nav-list{
        padding: 0;
        width: 30%;
        justify-content: space-between;
    }

    .search-form{
        justify-content: flex-end;
    }

    .open_nav{
        display:none;
    }  
}