@import "style.css";
:root {
    --clr-text: #464545;
    --clr-primary: #067E0A;
    --clr-primary-dark: #065009;
    --clr-accent: #171717;
    --clr-accent-dark: rgba(30, 29, 31, 0.842);

    --ff-title: 'Fira Sans', sans-serif;;
    --ff-serif: 'Mukta', sans-serif;
    --ff-logo: ;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


html{
    box-sizing: border-box;
    font-family: var(--ff-serif);
    color: var(--clr-text);
    font-size: 16px;
    margin: 0; /*need to add margin bottom to paragraphs after removing all margins*/
}

/*to get the content of the body to utilise the full screen*/
body{
    margin: 0;
    text-align: center;
}


img{
    /*always do this for images, to get it to fit the page and also to remnove the extra spage underneath images*/
    display:block;
    max-width: 100%;
}

section{
    padding: 3em 1em;
}

/* Typography*/


h2, 
h3,
h4{
    font-family: var(--ff-title);
    line-height: 1;
}

h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

h4{
    font-size: 1rem;
}

p{
    margin-bottom: 0.85em;
}

.text-primary{
    color: var(--clr-primary);
}

.logo{
    font-family: var(--ff-logo);
    text-align: center;
}

.logo a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/*navigation - navigation.css*/



/*Homepage styles
*/

/*Featured section*/
.featured-container{
    padding: 0;
    background-color: #e9e9e9;
}

.featured-main{
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 0;
    height: 53vw; /* Relative to 50% of the width of the viewport*/
    max-height: 760px;
    overflow: hidden; /* cut off any extra picture showing*/
}

#featured-img{
    width: 100%;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
}



.featured .section-title{
    text-align: center;
    padding: 0.5em;
    margin: 0;
}


/*Remove the description on mobile view please*/
.featured-main .text-block {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.226); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    transition: 0.5s ease;
    opacity: 1;
    font-size: clamp(0.5rem, 3.5vw, 1rem);
    line-height: 1;
    padding: 0.5em;
    /*display:none;*/
}

/*
.featured-main:hover .text-block{
    opacity: 1;
}
*/

#prev{
    position: absolute;
    border-radius: 0 10px 10px 0; /* 4 edges, 1 for each edge*/
    left:0;
    top: 40%;
}

#next{
    position: absolute;
    right:0; 
    border-radius: 10px 0 0 10px;
    top: 40%;
}

#prev,
#next{
    padding: 1em;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    user-select: none;
}

#prev:hover, #next:hover{
    background:rgba(0, 0, 0, 0.75);
}

/* -- thumbnail in featured section*/
#row{
    display: grid;
    grid-template-columns: auto auto auto auto auto; /*5 rows*/
    max-width: 1280px;
    margin: 0 auto;
}

.column{
    opacity: 0.5;
    cursor: pointer;
}

.column > img{
    height: 53px;
    object-fit: cover;
}

.active,
.column:hover{
    opacity: 1;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}


.intro{
    text-align: center;
    padding: 1em 0;
    background: #e9e9e9;
}

/*Categories section*/
.categories-showcase{
    padding: 1em;

}

.categories{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}


.category {
    position: relative;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    margin: 1em;
    max-width: 360px;
    transform: scale(1);
    transition: transform 250ms ease-in-out;
}
.category:hover,
.category:focus{
    transform: scale(1.05);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}

.category-title {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5);  /*background black n opacitiy of 0.5*/
    color: #f1f1f1;
    width: 100%;
    padding: 1em;
}

.games{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.game-title{
    color: var(--clr-primary);
    padding: 0.75em;
    text-align: left;
}

/*making the game card and scaling it upon hover*/
.game{
    overflow: hidden;
    margin: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    transform: scale(1);
    transition: transform 250ms ease-in-out;
    max-width: 380px;
    position: relative;
    border-radius: 1em;
}


.game:hover,
.game:focus{
    transform: scale(1.05);
}


/* ensuring image takes full width of container and is visible*/
.game_img{
    width: 360px;
    height: 480px;
    object-fit: cover;
    opacity: 1;
    transition: 0.5s;
}

/* Positioning the game description relative to the game card*/
.game-description{
    transition: 0.5s ease;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    text-align: center;
    vertical-align: center;
}

.game-description > *{
    font-size: 1rem;
    display: inline;
    padding: 0;
    margin: 0;
}

/*Change, all the h1, p, span etc to default once the description is optained from the api*/


/*show the game description upon hover and adjust opacity for visibility*/
.game:hover .game-description,
.game:hover .game-description{
    opacity: 1;
}

.game:hover img{
    opacity: 0.3;
}

.view-more{
    margin: 2em 0em 3em;
}

.btn {
    padding: 0.5em 2.5em;
    color: white;
    text-decoration: none;
    margin: 0.5em 0;
    border-radius: 0.5em;
}

.btn-small {
    padding: 0.5em 1.5em;
    font-size: 0.8rem;
    color: white;
    text-decoration: none;
    margin: 0.5em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.btn-accent{
    background: var(--clr-accent);
}

.btn-accent:hover,
.btn-accent:hover{
    background: var(--clr-accent-dark);
}

footer{
    background: #333;
    padding: 3em 1em;
    color: white;
    background: var(--clr-accent);
}

footer a{
    color: inherit;
}

.footer-nav{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0em;
}

.footer-nav a{
    padding: 0.75em;
    text-decoration: none;
}

.footer-nav a:hover{
    text-decoration:underline;
}

.footer-social{
    display: flex;
    list-style: none;
    padding: 0em;
    justify-content: center;
}

.social-link{
    padding: 4em;
}

.social-icon{
    max-width: 50px;
}

/*------partials-----*/
.backgroundClr{
    padding-bottom: 2em;
    display: grid;
    grid-template-columns: auto;
    margin: 1em;
    justify-content: center;
}




/*------ All GAMES ------*/
.games_img_smaller{
    width: 100%;
    height: 480px;
    object-fit: cover;
    opacity: 1;
    transition: 0.5s;
}



@media screen and (min-width: 750px){

    h4{
        font-size: 1.25rem;
    }

    #featured_title{
        font-size: clamp(0.5rem, 3.5vw, 1.9rem);
        font-weight: 400;
    }
    
    .backgroundClr{
        max-width: 85vw;
        margin: 0 auto;
    }
    .categories{
        max-width: 90%;
        margin: 0 auto;
    }

    .featured-main{
        width: 100%;
        height:53vw;
        max-width:1280px;
        max-height: 600px;
        border-radius: 20px;
        box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
        margin-bottom: 20px;
    }

    

    .column{
        margin: 5px;
        border-radius: 10px;
    }

    .column > img {
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .featured-main .text-block {
        bottom: 10%;
        left: 5%;
        width: 50%;
        height: fit-content;
        display: block;
        font-size: clamp(0.5rem, 3.5vw, 1.4rem);
    }

    #prev,
    #next{
        padding: 1em;
        font-weight: bold;
        font-size: 1.5rem;
        color: white;
        user-select: none;
    }

    


    .preview{
        width: 40vw;
        margin: 0 auto;
        bottom: 0;
    }

    #row{
        width: 70%;
        
    }

    .search-container{
        width: 70%;
    }
    
    .filter-container{
        width: 70%;
    }

    .games{
        display: grid;
        grid-template-columns: auto auto ;
        justify-content: center;
    }
    
}

@media screen and (min-width: 1440px){
    .games{
        display: grid;
        grid-template-columns: auto auto auto ;
    }
}

@media screen and (min-width: 1920px){

    nav{
        max-width: 85vw;
    }
    
    .games{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    
    .featured-main{
        max-width: 1440px;
    }
    /*dont want featured image being too big on 1920px screens*/
    #featured-img{
        max-width: 1440px;
    }

    .backgroundClr{
        max-width: 1920px;
    }
}













/*
Media query, Desktop size, also make image size 100% for it to work
change the html font size to be larger.
For font-sizes, always use "rem" to avoid compounding problem
		Use "em" for properties other than fontSize like margin, padding, width etc...
		rem are useful when we are trying to use media queries
.container {
    position: relative;
    text-align: center;
    color: white;
}

.top-left {
    position: absolute;
    top: 0.5em;
    left: 1em;
}

.text-block {
    position: absolute;
    bottom: 1.25em;
    right: 1.25em;
    background-color: black;
    color: white;
    padding-left: 1.25em;
    padding-right: 1.25em;
}
*/